---
import { content } from "@/data/site.js";
---

<div class="achievements d-flex flex-col md:flex-row gap-4 md:gap-8">
  <div class="achievements__item d-flex flex-col grid-item animate-card-3">
    <div class="achievements__card">
      <p class="achievements__number animate-in-up">{content.achievements.happyClients.number}</p>
      <p class="achievements__descr animate-in-up">
        {content.achievements.happyClients.description}
      </p>
    </div>
  </div>
  <div class="achievements__item d-flex flex-col grid-item animate-card-3">
    <div class="achievements__card">
      <p class="achievements__number animate-in-up">{content.achievements.experience.number}</p>
      <p class="achievements__descr animate-in-up">{content.achievements.experience.description}</p>
    </div>
  </div>
  <div class="achievements__item d-flex flex-col grid-item animate-card-3">
    <div class="achievements__card">
      <p class="achievements__number animate-in-up">{content.achievements.projects.number}</p>
      <p class="achievements__descr animate-in-up">{content.achievements.projects.description}</p>
    </div>
  </div>
</div>
