---
// Componente MainSection para la sección principal (home)
import { Image } from "astro:assets";
import { content } from "@/data/site.js";

// Importar imágenes
import sPFOKHs4syT3 from "@/assets/images/deiv1.jpg";
import bfYq5Lb9oJf7 from "@/assets/images/deiv2.png";
import EfEx6x7YpgQv from "@/assets/images/deiv3.png";
import png1 from "@/assets/images/deiv4.png";
import png2 from "@/assets/images/deiv5.png";
import png3 from "@/assets/images/deiv6.png";
---

<!-- Main Section Start -->
<section id="home" class="main home">
  <!-- Main Section Intro Start -->
  <div
    class="container-fluid p-0 h-screen min-h-240 md:py-24 flex flex-col justify-center items-center gap-12"
  >
    <h1 class="headline__title loading__item">
      <span class="typing-braces" set:html="{" />
      <span class="typing-text" id="typing-title">.dev</span>
      <span class="typing-braces" set:html="}" />
    </h1>
    <p class="text-center animated-type loading__item flex flex-col md:flex-row gap-2">
      <b>{content.mainSection.tagline[0]}</b>
      <b>{content.mainSection.tagline[1]}</b>
    </p>
  </div>

  <!-- Main Section Intro End -->
  <!-- Main Section Media Start -->
  <div class="main__media media-stack-bottom">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="media__fullwidth">
          <div class="items items--gsap">
            <div class="items__container">
              <div class="item icon p-4">
                <Image src={png1} alt="Image" class="w-3/4" />
              </div>
              <div class="item image image-1">
                <Image src={sPFOKHs4syT3} alt="Image" class="size-full object-cover" />
              </div>
              <div class="item icon p-4">
                <Image src={png2} alt="Image" class="w-3/4" />
              </div>
              <div class="item image image-2">
                <Image src={bfYq5Lb9oJf7} alt="Image" class="size-full object-cover" />
              </div>
              <div class="item icon">
                <Image src={png3} alt="Image" class="size-full object-cover" />
              </div>
              <div class="item image image-3">
                <Image src={EfEx6x7YpgQv} alt="Image" class="size-full object-cover grayscale" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-2"></div>
        <div class="col-12 col-xl-8">
          <div class="content__block large-text-block pre-stack">
            <div class="container-fluid p-0">
              <div class="row g-0">
                <div class="col-12">
                  <blockquote class="reveal-type animate-in-up">
                    {content.mainSection.blockquote}
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-2"></div>
      </div>
    </div>
  </div>
</section>
<!-- Main Section Media End -->

<!-- Main Section End -->
