---
import { portfolio } from "@/data/site.js";
import { Image } from "astro:assets";

// Componente Portfolio para la sección de portfolio
---

<!-- Inner Section - Portfolio - Start -->
<section id="portfolio" class="portfolio overflow-x-hidden">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4 md:gap-12">
      <div class="md:col-span-2">
        <span class="section-name icon-right animate-in-up">
          <span class="section-name-caption py-8">Cases Studies</span>
          <i class="ph ph-arrow-down-right"></i>
        </span>
      </div>

      <!-- Contenido principal -->
      <div class="md:col-span-8 flex flex-col gap-12 md:gap-36">
        <!-- Título de la sección -->

        <h2 class="reveal-type animate-in-up">Projects</h2>
      </div>
    </div>
    <!-- Content Block - Portfolio Stacking Cards Start -->

    <div class="stack-wrapper">
      <div class="stack-offset solid-block"></div>
      <div class="portfolio-stack">
        {
          portfolio.map((project, index) => (
            <div class="stack-item">
              <a
                aria-label={project.title}
                href={`/portfolio/${project.slug}`}
                class="portfolio-stack__inner popup-trigger relative dynamic-bg"
              >
                <div class="absolute bottom-0 left-0 w-full px-10 py-12 bg-gradient-to-t from-black/35 from-25% to-black/0 to-100%">
                  <h3 class="font-bold !text-white">{project.title}</h3>
                  <p class="portfolio-stack__tagline type-basic-140lh text-white">
                    <span class="tagline-concept">{project.tagline.split(" • ")[0]}</span>
                    <span class="tagline-tech"> • {project.tagline.split(" • ")[1]}</span>
                  </p>
                </div>
                <Image
                  width={800}
                  height={533}
                  src={project.images.landscape}
                  alt={project.title}
                  class="service-image size-full object-cover rounded-4xl "
                />
              </a>
            </div>
          ))
        }
      </div>
    </div>
    <!-- Content Block - Portfolio Stacking Cards End -->
  </div>
</section>
<!-- Inner Section - Portfolio - End -->
