---
import { resume } from "@/data/site.js";
// Componente Resume
---

<section id="resume" class="resume">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4 md:gap-12">
      <div class="md:col-span-2">
        <span class="section-name icon-right animate-in-up">
          <span class="section-name-caption py-8">Resume</span>
          <i class="ph ph-arrow-down-right"></i>
        </span>
      </div>
      <div class="md:col-span-8 flex flex-col gap-12 md:gap-24">
        <h2 class="reveal-type animate-in-up">My Code Journey</h2>
        <p class="animate-in-up"></p>
        <div class="flex flex-col gap-8">
          <!-- Work Experience Section -->

          <p class="tagline-chapter animate-in-up">Work Experience</p>

          <div class="w-full p-0 resume-lines">
            <div class="resume-divider animate-in-up"></div>
            {
              resume.experience.map((item) => (
                <div class="grid grid-cols-12 gap-8 resume-lines__item">
                  <div class="col-span-12 md:col-span-3 ">
                    <p class="resume-lines__date type-basic-160lh animate-in-up">{item.date}</p>
                  </div>
                  <div class="col-span-12 md:col-span-9 flex flex-col gap-4">
                    <h4 class=" animate-in-up">{item.title}</h4>
                    <a
                      class="resume-lines__source link-small-underline animate-in-up"
                      href={item.link}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {item.source}
                    </a>
                    <p class="resume-lines__description animate-in-up">{item.description}</p>
                  </div>
                </div>
              ))
            }
          </div>

          <!-- Skills Section -->

          <p class="tagline-chapter animate-in-up">Key Skills</p>

          <div class="w-full p-0 resume-lines">
            <div class="resume-divider animate-in-up"></div>
            {
              resume.skills.map((item) => (
                <div class="grid grid-cols-12 gap-4 resume-lines__item">
                  <div class="col-span-12 md:col-span-3">
                    <p class="resume-lines__date type-basic-160lh animate-in-up">{item.category}</p>
                  </div>
                  <div class="col-span-12 md:col-span-9  flex flex-col gap-4">
                    <h4 class=" animate-in-up">{item.title}</h4>
                    <p class="resume-lines__description animate-in-up">{item.description}</p>
                  </div>
                </div>
              ))
            }
          </div>
          <!-- Education Section -->

          <p class="tagline-chapter animate-in-up">Education</p>

          <div class="w-full p-0 resume-lines">
            <div class="resume-divider animate-in-up"></div>
            {
              resume.education.map((item) => (
                <div class="grid grid-cols-12 gap-8 resume-lines__item">
                  <div class="col-span-12 md:col-span-3 ">
                    <p class="resume-lines__date type-basic-160lh animate-in-up">{item.date}</p>
                  </div>
                  <div class="col-span-12 md:col-span-9  flex flex-col gap-4">
                    <h4 class=" animate-in-up">{item.title}</h4>
                    <a
                      class="resume-lines__source link-small-underline animate-in-up"
                      href={item.link}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      {item.source}
                    </a>
                  </div>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
